{erl_opts, [debug_info]}.

{deps,
 [
  jiffy,

  {lhttpc, ".*",
   {git, "https://github.com/erlcloud/lhttpc.git",
    {branch, "master"}}},

  {erlcloud, ".*",
   {git, "https://github.com/erlcloud/erlcloud.git",
    {branch, "master"}}},

  {al_uuid, ".*",
   {git, "git@algithub.pd.alertlogic.net:alertlogic/al_uuid.git",
    {branch, "master"}}},

  {iwsutil, ".*",
   {git, "git@algithub.pd.alertlogic.net:alertlogic/iwsutil.git",
    {branch, "master"}}},

  {cowboy, ".*",
   {git, "https://github.com/ninenines/cowboy.git",
    {branch, "master"}}}
 ]}.

{plugins, 
 [
  {covertool,
   {git, "https://github.com/covertool/covertool.git",
    {branch, master}}}
 ]}.

%% Profiles
{profiles,
 [
  {test,
   [
    {erl_opts, [export_all]},
    {deps,
     [
      hackney,
      {eee_ct, ".*",
       {git, "git@algithub.pd.alertlogic.net:alertlogic/eee_ct.git",
        {branch, "master"}}}
     ]}
   ]}
 ]}.

