{erl_opts, [debug_info]}.

{deps,
 [
  jsx,

  {cowboy, ".*",
   {git, "git@algithub.pd.alertlogic.net:alertlogic/cowboy.git",
    {branch, "dev"}}},
  {getopt, ".*",
   {git, "git@algithub.pd.alertlogic.net:alertlogic/getopt.git",
    {branch, "add_desc"}}},
  {erlcloud, ".*",
   {git, "https://github.com/erlcloud/erlcloud.git",
    {branch, "master"}}}
 ]}.

{plugins, 
 [
  {rebar_covertool,
   {git, "https://github.com/idubrov/covertool.git",
    {branch, master}}}
 ]}.

%% Profiles
{profiles,
 [
  {test,
   [
    {erl_opts, [export_all]},
    {deps, [meck, proper]}
   ]}
 ]}.

