{erl_opts, [debug_info]}.

{deps,
 [
  jiffy,
  lhttpc,
  erlcloud
 ]}.

{plugins, 
 [
  {covertool,
   {git, "https://github.com/covertool/covertool.git",
    {branch, master}}}
 ]}.

%% Profiles
{profiles,
 [{test,
  [{deps,
   [
    {meck, "0.8.12"},
    {cowboy, "2.5.0"},
    {uuid, "1.7.4", {pkg, uuid_erl}}]},
   {erl_opts, [debug_info, nowarn_export_all, export_all]}]}
 ]}.

{shell, [
 {apps, [erllambda]}
]}.


{ct_opts,
 [{logdir, "logs"}]}.
